.produto {
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.produto h3 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

.produto p {
    text-align: justify;
    padding: .5em;
    font-style: italic;
    background-color: rgb(200, 200, 200);
}

.produto__image {
    width: 5em;
    
}

.produto button {
    margin-top: auto;
}