.sideBar {
  background-color: #302e2f;
  width: 25%;
  height: calc(100% - 2em);
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.75);
}
.sideBar__header {
  display: flex;
  justify-content: center;
}

.sideBar__header img {
  height: 5em;
  margin-top: 1em;
  border-radius: 100%;

  box-shadow: 0 0 5px 3px #302e2f, 0 0 5px 6px #4e323d, 0 0 5px 9px #8e3044;
}

.sideBar__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sideBar__item {
  background-color: #4e4c4d;
  padding: 1em;
  transition: all 0.5s ease-in;
  color: white;
}

.sideBar__item:hover {
  background-color: #8e3044;
  border-radius: 0.5em;
  color: white;
}

.sideBar__item__title {
  display: inline;
}
.sideBar__item__description {
  color: rgb(201, 128, 110);
}

.sideBar__item__title::after {
  content: ": ";
}

.sideBar a {
  text-decoration: none;
}

.sideBar a:visited {
  text-decoration: inherit;
}

@media only screen and (max-width: 600px) { 
	.sideBar {
    display: none;
  }
}