/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
}
ol, ul {
	
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding: 4em;
    background-color: #d9d8d9;
    color: white;
}

.floatble {
	display: none;
}

@media only screen and (max-width: 600px) { 
	body {
		padding: 1em;
		position: relative;
	}
	.floatble {
		display: flex;
		position: fixed;
		bottom: 1em;
		left: calc(100vw - 7em);
	}

	.drop-content {
		background-color: rgba(0, 0, 0, 0.815);
		margin-right: 0em;
		padding: 1em;
		border-radius: 10px;
	}


	.drop-content {
		display: none;
	}

	.dropdown:hover .drop-content {
		display: block;
	}

	.floatble img {
		height: 4em;
		margin-top: 1em;
		border-radius: 50%;
		box-shadow: 0 0 5px 3px #302e2f, 0 0 5px 6px #4e323d, 0 0 5px 9px #8e3044;
	}

	.floatble a {
		color: white;
		text-decoration: none;
		padding: 1em;
		display: block;
	}
}