.cabecalho {
}

.title {
  color: white;
  font-weight: bold;
  font-size: 5em;
  margin-top: 1.5em;
}

.nav-humburger {
  display: none;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.315);
  
  
}

.dropdown {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.drop-content {
  display: none;
}

main {
  background: rgb(32, 22, 32);
  background: rgb(32, 22, 32);
  background: linear-gradient(
    156deg,
    rgba(32, 22, 32, 1) 91%,
    rgba(98, 3, 104, 1) 100%
  );

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
}

.wakanda-pics {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.wakanda-pics h1  {
  color: white;
  font-size: 3em;
}

.wakanda-pics img {
  height: 20em;
  width: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  list-style: none;
  font-size: 1.2em;
}

.navLink {
  padding: 0.5em;
  color: white;
  transition: background-color 0.3s ease-in;
  border-radius: 10px;
}

.navLink:hover {
  background-color: rgb(87, 58, 114);
}

a:visited {
  color: white;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}

body,
header {
  margin: 0;
}

header {
  height: 30em;
  background-image: url("/Lab2/assets/img/wk2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  display: flex;
  gap: 1.2em;
  padding: 2em 8em;

  color: white;
}

.about h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 3em;
}

.about p {
  font-size: 1.5em;
  text-align: justify;
}

.about img {
  width: 25em;
  height: 35em;
  border-radius: 5%;

  -webkit-box-shadow: 5px 5px 91px 0px rgba(107, 4, 107, 1);
  -moz-box-shadow: 5px 5px 91px 0px rgba(107, 4, 107, 1);
  box-shadow: 5px 5px 91px 0px rgba(107, 4, 107, 1);
}

.localization {
  background: rgb(32, 22, 32);
  background: rgb(32, 22, 32);
  background: linear-gradient(
    156deg,
    rgba(32, 22, 32, 1) 91%,
    rgba(98, 3, 104, 1) 100%
  );
}

.localization {
  margin: 0;
  padding: 2em;
  color: white;
}

.localization h2 {
  margin: 0;
  color: white;
}

.multimedia {
  color: white;
  padding: 1em;
  background: rgb(32, 22, 32);
  background: rgb(32, 22, 32);
  background: linear-gradient(
    156deg,
    rgba(32, 22, 32, 1) 91%,
    rgba(98, 3, 104, 1) 100%
  );
}

.multimedia div {
  display: flex;
  justify-content: space-between;
}

.multimedia img {
  height: 15em;
  width: 15em;
}

.information {
  color: white;
  padding: 1em;
  background: rgb(32, 22, 32);
  background: rgb(32, 22, 32);
  background: linear-gradient(
    156deg,
    rgba(32, 22, 32, 1) 91%,
    rgba(98, 3, 104, 1) 100%
  );
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 3em;
  font-weight: bolder;
  background-color: rgb(29, 29, 29);
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-normal {
    display: none;
  }

  .nav-humburger {
    display: flex;
  }
  
  .about {
    flex-direction: column;
    padding: 1em;
  }

  .title {
    font-size: 3em;
    margin-top: 2.8em;
    height: fit-content;
  }

  .dropdown .drop-content {
    display: none;
  }

  .dropdown:hover .drop-content {
    display: flex;
    flex-direction: column;
  }
  .drop-content a {
    padding: .5em;
  }

  .about img {
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
  }

}